@font-face{
    src: url(./fonts/Satoshi-Variable.ttf);
    font-family: "Satoshi";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}